.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.gameboard button {
  font-size: 4rem;
  width: 100%;
  aspect-ratio: 1/1;
}

.gameboard button:disabled {
  cursor: not-allowed;
}

.gameboard svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blink {
  animation: blink 1s linear 0s 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
