.gameboard {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: fit-content;
}

.gameboard button {
  width: 200px;
  height: 200px;
  border: solid 1px grey;
}

.gameboard button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
